/*STYLE MENU*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0157a2;
    font-family: Verdana;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/*STYLE GALLERIE*/

div.gallerie {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    font-family: Verdana;
}

div.gallerie:hover {
    border: 1px solid #777;
}

div.gallerie img {
    width: 100%;
    height: auto;
}

div.legende {
    padding: 15px;
    text-align: center;
    background-color: lightgrey;
}

/*FORM*/

form{
    font-family: Verdana;
    background-color: #0157a2 ;
    display: block;
    float: left;
    position: absolute;
    bottom: 0;
    color:  white;
    padding: 15px;
    text-align: left;
    width: 98%;
}

input[type=text]{
    border: 2px solid #0157a2;

}

input[type=email]{
    border: 2px solid #0157a2;
}

input[type=text]:focus, input[type=email]:focus{
    background-color: lightgrey;
}

input[type=submit]{
    font-family: Verdana;

}

#droits{
    float: right;
    color: lightblue;
    font-size: small;
}
